/node_modules
/vendor
/builds/assets
/builds/logs
/builds/awsync-*
/builds/journal-*
/.phpstorm.meta.php
/_ide_helper*
/doc
/logs
/assets
/storage
.env
.env.production
.env.backup
.phpunit.result.cache
npm-debug.log

TODO.md
journal-*
/database/database.sqlite
